  <!DOCTYPE html>
  <html>
  <head>
    <title>Personas mayores de 15 años</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4 text-primary text-center alert alert-primary">Personas mayores de 15 años</h1>
      <table class="table table-striped table-hover table-bordered">
        <thead class="">
          <tr class="table-primary border border-0  border-bottom border-primary">
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
          </tr>
        </thead>
        <tbody class="">
          <% filteredPersons.forEach(person => { %>
          <tr>
            <td><%= person.name %></td>
            <td><%= person.age %> años</td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
  </html>
